body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
}

.nav {
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
}

canvas {
    width: 100% !important;
    max-width: 600px;
    height: 350px !important;
    margin-bottom: 40px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}
.risk-stu{
    background:#f8d7da;
}